#customizeContainer {
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 15px;
  cursor: pointer;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 0.3px solid lightgrey;
}
h3 {
  margin: 0;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

/* COLORS */
#color-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 20px;
  margin-bottom: 25px;
}
#color-options {
  display: flex;
  flex-direction: row;
}
#blue-btn {
  background-color: #3993dd;
  border: none;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
}
#purple-btn {
  background-color: #3c1b43;
  border: none;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
}
#magenta-btn {
  background-color: #922d50;
  border: none;
  border-radius: 0;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 50%;
}
#green-btn {
  background-color: #113537;
  border: none;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
}
#coral-btn {
  background-color: #fc814a;
  border: none;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
}

/* ADD/REMOVE */
#addRemoveSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* END ADD/REMOVE */

/* BUTTONS */
#btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 20px;
  margin-bottom: 25px;
  margin: 0 !important;
}
#add-btn {
  background-color: #3993dd;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#remove-btn {
  background-color: #dd3947;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* END BUTTONS */
