* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@page {
  size: letter;
  margin: 0mm;
  padding: 0mm;
  border: 0mm;
  top: 0mm;
}

body {
  display: flex;
  flex-direction: column;
  left: 50%;
  right: 50%;
  height: 100%;
  /* background-image: linear-gradient(to bottom right, #80c3fb, #0658e6); */
}

/* the border that shows the ends of the print container */
#printBorder {
  border: 0.3px solid lightgray;
  overflow: hidden;
}
/* container in which will actually get printed/saved as pdf */
#printContainer {
  box-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8.5in;
  height: 11in;
  text-align: left;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

textarea {
  resize: none;
  border: 0.5px solid lightgray;
}

/* RESUME HEADER */
#resume-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #3993dd;
  color: white;
  padding-top: 12px;
}
#resume-header textarea::placeholder {
  color: white;
}

/* NAME */
#fullname {
  display: flex;
  flex-direction: column;
}
#first-name {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  color: white;
}
#last-name {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  color: white;
}
/* END NAME */

/* CONTACT */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: white;
}
#address {
  color: white;
  text-align: center;
  text-align: right;
  padding-right: 30px;
  font-size: 15px;
  width: 90%;
}
#phone {
  font-size: 15px;
  text-align: center;
  text-align: right;
  padding-right: 30px;
  color: white;
  width: 90%;
}
#email {
  font-size: 15px;
  text-align: center;
  text-align: right;
  padding-right: 30px;
  color: white;
  width: 90%;
}
#website {
  font-size: 15px;
  text-align: center;
  text-align: right;
  padding-right: 30px;
  color: white;
  width: 90%;
}
/* END CONTACT */
/* END RESUME HEADER */

/*  ABOUT */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  padding-bottom: 12px;
  font-size: 15px;
}
/* END ABOUT */

/* EXP */
#exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80%;
  margin-top: 20px;
  font-size: 23px;
  text-align: left;
}

#exp-header {
  font-size: 23px;
  border-bottom: 1px solid #3993dd;
  color: #3993dd;
  width: 100%;
  text-align: center;
}
#job-title {
  font-size: 17px;
  color: black;
  font-weight: bolder;
  margin-top: 10px;
}
#job-date {
  font-size: 16px;
  color: black;
}
#job-desc {
  font-size: 15px;
  color: black;
  margin-top: 6px;
}
/* END EXP */

/* EDU */
#edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80%;
  margin-top: 20px;
  font-size: 23px;
}
#edu-header {
  font-size: 23px;
  border-bottom: 1px solid #3993dd;
  color: #3993dd;
  width: 100%;
  text-align: center;
}
#edu-title {
  font-size: 17px;
  color: black;
  font-weight: bolder;
  margin-top: 10px;
}
#edu-date {
  font-size: 16px;
  color: black;
}
#edu-desc {
  font-size: 15px;
  color: black;
  margin-top: 6px;
}
/* END EDU */

/* SKILLS */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 15px;
  font-size: 23px;
}
#skills-header {
  font-size: 23px;
  border-bottom: 1px solid #3993dd;
  color: #3993dd;
  width: 100%;
  text-align: center;
}
#skills ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  font-size: 14px;
  color: black;
  padding-left: 26px;
}
/* END SKILLS */

/* PROJECTS */
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80%;
  margin-top: 20px;
  font-size: 23px;
}
#projects-header {
  font-size: 23px;
  border-bottom: 1px solid #3993dd;
  color: #3993dd;
  width: 100%;
  text-align: center;
}
#project-title {
  font-size: 17px;
  color: black;
  font-weight: bolder;
  margin-top: 10px;
}
#project-desc {
  font-size: 15px;
  color: black;
  margin-top: 6px;
}
/* END PROJECTS */

/* PRINT BUTTON */
#print-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  background-color: #3993dd;
  color: white;
  padding: 8px;
  border-radius: 7px;
  margin: 15px;
}
#print-btn:hover {
  background-color: #00a6ed;
  color: white;
  cursor: pointer;
}
/* END PRINT BUTTON */

/* ROW AND COLUMNS */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left-column {
  width: 21.1%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  position: absolute;
  left: 0;
}

.right-column {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* END ROW AND COLUMNS */

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    height: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .left-column {
    width: 100%;
    height: fit-content;
    margin: 0px;
    display: block;
    margin-top: 50px;
  }
  .right-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 460px;
  }
  #customizeContainer {
    top: 0;
  }
  #printBorder {
    overflow: hidden;
  }
  #printContainer {
    width: 400px;
    height: auto;
  }
  #resume-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }
  #fullname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 25px;
  }
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: white;
  }
}
/* END MEDIA QUERIES */
